.Banner
{
    background-color:  rgb(0, 170, 77);
    width: 100% ;
    height: 550px;
    background-image: url(../imagenes/banners/);
    background-position: center; /*esta linea de codigo sirve para la posicion de la imagen*/
    background-size: cover; 
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    display: flex;
}
.Banner::before
{
    content: ""; /*creamos una mascara vacia*/
    position: absolute;
    background-color:  rgb(255, 255, 255);
    top: 0; /*las propiedades top y left son un punto de partida*/
    left: 0;
    width: 100%;
    height: 100%;
}
.Bannercontent
{
    z-index: 5; /*esto significa profundidad*/
    position: relative;
    max-width: 800px;
}
.Bannercontent h1
{
    color: rgb(255, 255, 255);
    font-size: 28pt;
    font-weight: bold;
    margin-bottom: 10pt;
}
.Bannercontent p 
{
    color: rgb(255, 255, 255);
    font-size: 20pt;
    font-weight: bold;
    margin-bottom: 10pt;
}